html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #e6ecf0;
  color: #14171a;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
}

.visually-hidden {
  border: 0;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
